body {
  width: 430px;
  background-color: #00cece;
}

.entry-unit {
  display: block;
  margin: 10px 27px 27px 10px;
}

label, .entry-unit span {
  font: 18px 'Fira Sans', sans-serif;
}

label {
  line-height: 30px;
  text-align: center;
}

select {
  float: right;
}

input {
  height: 30px;
  float: right;
}
