body {
  width: 430px;
  background-color: #00cece;
}

.box {
  border:2px solid #00ffc8;
	padding:10px 40px; 
	background:#00fff2;
	width:300px;
	border-radius:25px;
}
.entry-unit {
  display: block;
  margin: 10px 27px 27px 10px;
}

label, .entry-unit span {
  font: 20px 'Fira Sans', sans-serif;
}

label {
  line-height: 30px;
  text-align: center;
}

select {
  float: right;
}

input, .input {
  height: 30px;
  float: right;
}
